services:

  frontend:

    build:
      context: .
      dockerfile: Dockerfile
      target: dev

    volumes:
      - ./:/app:rw
      - node_modules:/app/node_modules

    ports:
      - "3000:3000"

    environment:
      - NODE_ENV=development
      - HOST=0.0.0.0
      - PORT=3000
      - CI=true
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=200
      - RUST_LOG=trace
      - RUST_BACKTRACE=1

    # Instalación básica y arranque en modo dev (forzar Webpack)
    command: sh -c "pnpm install && pnpm run dev"

volumes:
  node_modules: { }
