services:
  backend:
    build:
      context: .
      target: development
    container_name: portfolio-backend-dev
    ports:
      - "${PORT:-9000}:9000"
    volumes:
      - .:/app
      - backend_node_modules:/app/node_modules
      # Montamos el store en una ruta segura fuera de /app
      - pnpm_store:/root/.local/share/pnpm/store
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - CI=true
      - PNPM_CONFIG_NODE_LINKER=hoisted
      - PNPM_CONFIG_PACKAGE_IMPORT_METHOD=copy
      # Configuramos pnpm para usar esa ruta específica
      - NPM_CONFIG_STORE_DIR=/root/.local/share/pnpm/store
    # Agregamos la creación del directorio por si acaso antes de instalar
    command: sh -c "pnpm install --no-frozen-lockfile --force && pnpm run dev"

volumes:
  backend_node_modules: { }
  pnpm_store: { }
